<div class="container">
    <legend>Edit Item</legend>
    <form>
      <div class="mb-3">
        <label for="txtname" class="form-label">Name</label>
        <input type="text" name="name" [(ngModel)] = "fruitForm.name" class="form-control" id="txtname" />
      </div>
      <div class="mb-3">
        <label for="txtprice" class="form-label">Price</label>
        <input type="number" name="price" [(ngModel)] = "fruitForm.price" class="form-control" id="txtprice" />
      </div>
      <div class="mb-3">
        <label for="txtquantity" class="form-label">Quantity</label>
        <input type="number" name="quantity" [(ngModel)] = "fruitForm.quantity" class="form-control" id="txtquantity" />
      </div>
      <button type="button" (click)="update()" class="btn btn-primary">Update</button>
    </form>
</div>